@import "../../assets/base/colors";

.pagination {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}

.item {
  color: $indigo900;
  margin: 3px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  &:hover {
    border-radius: 3px;
    background-color: $indigo900;
    color: #fff;
  }
}

.active {
  border-radius: 3px;
  background-color: $indigo900;
  color: #fff;
  cursor: default;
}
