.homeLink {
  cursor: pointer;
}

.navBar {
  margin: 10px 0;
  padding: 5px 10px;
  display: flex;
  align-items: center;
}

.pagesContainer {
  height: calc(100% - 86px);
}

.height {
  height: 100%;
}