.teamEmblemBlock {
  vertical-align: middle;
  text-align: center;
  margin-right: 15px;
  display: inline-block;
  width: 30px;
  height: 30px;
}

.teamEmblemImg {
  display: inline-block;
  max-width: 30px;
  max-height: 30px;
}

.teamRow {
  &:nth-child(odd) {
    background-color: #f7f7f7;
  }
  &:hover {
    cursor: pointer;
    background-color: rgba(26, 35, 126, .5);
    color: #fff;
  }
  :global {
    td {
      white-space: nowrap;
      padding: 5px 15px;
      border-bottom: 1px solid #dce1e6;
    }
    .rank {
      font-weight: bold;
      width: 40px;
    }
  }
}
