@import "../../assets/base/colors";

.tableBlock {
  height: 100%;
}

.leagueContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
  th {
    padding: 0;
  }
}

.title {
  padding: 15px;
  margin: 0;
  font-size: 1.4rem;
  border-bottom: 1px solid $paleGrey;
}