@import "../../assets/base/colors";

.leagueContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.title {
  padding: 15px;
  font-size: 1.4rem;
  border-bottom: 1px solid $paleGrey;
  display: flex;
  align-items: center;
}

.fixtures {
  display: flex;
  flex-wrap: wrap;
}