.headerCell {
  position: relative;
  padding: 15px 15px 5px 15px;
  &:before {
    width: 1000%;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    position: absolute;
    border-bottom: 1px solid #dce1e6;
  }
}

.tableWrapper {
  will-change: transform;
}
