@import "../../assets/base/colors";

.tableContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
  th {
    padding: 0;
  }
}

.table {
  position: relative;
  width: 100%;
  height: 100%;
}

.titleBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid $paleGrey;
}

.title {
  padding-right: 15px;
  margin: 0;
  font-size: 1.4rem;
}

.leagueGrid {
  height: 100%;
  overflow: auto;
}